<!DOCTYPE html>
<html>
  <head>
    <title>Airplane app</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Airplane app</h1>
    {{{body}}}
  </body>
</html>
