<div class="row section">
<form action="/login" method="post" class= "col s12 center-align">
    <div class="input-field col s12">
    <select name="logintype">
      <option value="customer">Customer</option>
      <option value="agent">Agent</option>
      <option value="staff">Staff</option>
    </select>
    <label>Login As</label>
  </div>
    <div class="input-field col s6">
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Email</label>
    </div>
    <div class="input-field col s6">
        <input id="password" name="password" type="password" class="validate" required>
        <label for="password">Password</label>
    </div>
   <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
    </button>
</form>
</div>
<script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
   document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, { format: "yyyy-mmm-dd" });
    });
</script>

