<div class="row">
    <p>The top 3 destinations for the past three months are {{#each topthree}} {{this.arrival_airport}}{{/each}}</p>

     <p>The top 3 destinations for the past year are {{#each topyear}} {{this.arrival_airport}}{{/each}}</p>
</div>